<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid50" />
  <package id="RestSharp" version="105.2.3" targetFramework="MonoAndroid50" />
  <package id="sqlite-net" version="1.0.8" targetFramework="MonoAndroid50" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Connectivity" version="1.0.3" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="ZXing.Net.Mobile" version="2.0.4.46" targetFramework="MonoAndroid60" />
</packages>